<!-- Building the ACCOUNT LOGIN View 
 This file display the FORM the user will use to login/create
 into their account in the database
-->
<h1>
    <%= title %>
</h1>

<%- messages() %>

    <!-- Login Error Display-->
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <!--Form Login -->
            <div class="login-container">
                <form action="/account/login" method="post" class="login-form">
                    <label for="accountEmail">Email Address:* </label>
                    <input type="email" name="account_email" id="accountEmail" required
                        placeholder="Enter a valid email address" value="<%= locals.account_email %>">

                    <label for="accountPassword">Password:* </label>
                    <span>Password must be a minimum of 12 characters and 1 capital letter, 1 number and 1 special
                        character.</span>
                    <input type="password" name="account_password" id="accountPassword"
                        placeholder="Enter a valid password" required
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
                    <button type="submit">Login</button>

                    <p class="signup-link">
                        No account? <a href="/account/register">Sign-up</a>
                    </p>
                </form>
            </div>