<% const d=new Date() let year=d.getFullYear() %>
    <footer id="footer-bottom">
        <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
        <p><a href="/inv/trigger-error" title="Test 500 Error">Click here to trigger a 500 error</a></p>
    </footer>