<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/site/favicon-32x32.png">
    <title><%= title %> | CSE 340 App</title>
    <meta name="description" content="CSE 340 Motors">
    <meta name="keywords" content="CSE, 340, motors, cars">
    <meta name="author" content="Wadzanai Murombedzi">
    <meta name="copyright" content="Copyright 2026">
    <link rel="stylesheet" href="/css/normalize.css" media="screen">
    <link rel="stylesheet" href="/css/styles.css" media="screen">
</head>
</html>