<!-- Updated the navigation Links and added preview titles -->
<nav>
    <%- nav %>
</nav>

<!-- commenting out my previous static navigation and tranferring the css-style to the utiliies-index.js getNav ul tag -->
<!-- <ul id="nav-list">
        <li><a href="/" title="CSE Motors Home">Home</a></li>
        <li><a href="#" title="View our Custom cars">Custom</a></li>
        <li><a href="#" title="View our Sedan cars">Sedan</a></li>
        <li><a href="#" title="View our SUV cars">SUV</a></li>
        <li><a href="#" title="View our Trucks">Trucks</a></li>
    </ul> -->