<!-- This is part of the M-V-C and this view will consist of three distinct sections: 
A content heading, a message, and the inventory items display. -->

<!-- THE CONTENT HEADING: EJS -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <!-- THE MESSAGE BLOCK 
 It is not uncommon to need to display messages in a view, 
 for example, if an error occurs.
-->
        <%# messages() %>

            <!-- THE INVENTORY ITEMS DISPLAY BLOCK
This is very simple because the view is meant to display content, 
not necessarily to contain logic.All the logic and building were done 
previously in the utilities/index.js.
-->
            <%- grid %>